@model IEnumerable<BartenderMVC.Models.Drink>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Drink Menu</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drinkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drinkPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.drinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drinkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drinkPrice)
            </td>
        </tr>
    }

    <tr>
        <th>
            <p><a class="btn btn-default" href="../Orders/Create">Order Drinks &raquo;</a></p>
        </th>
    </tr>

</table>
